i {
    font-size: 1rem;
    /* color: #aaa; */
    color: rgb(0,104,215);
    top: .75rem;
    left: .75rem
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
@media (max-width:997px) {
  .setMobile
  { 
    margin-right: 0 !important;
  }}
  input.ng-invalid.ng-touched
  {
      border:1px solid red;
      outline: none;
  }