<header style="margin-top:-2px">
  <div class="content-wrapper" >
    <section class="content" >
        <div class="container-fluid">
      <!-- Content Header (Page header) -->
            <h2 class="translate" data-en="Customer Balance">أرصدة أول المدة العملاء</h2>
            <div class="buttons">                
              <div class="button">
                  <i class="bi bi-bookmark-x "></i>
                  <a routerLink="/ar/customerBalanceList" class="translate" data-en="Exit">خروج</a>
                
              </div>
              <div class="button">
                  <i class="bi bi-file-earmark-medical  fa-lg"></i>
                
                  <input type="button" [disabled]="!ar_customers_opening_balance.valid" class="translate" data-en="Save" value="حفظ"  (click)="Save()" value="حفظ">
                
              </div>
            </div>
        </div>
      </section> 
  </div>
</header>

<div class="content-wrapper" style="min-height: 1233.2px;" [ngClass]="{'disabled':showspinner}">
  <!-- Content Header (Page header) -->

  <section class="content">
    <div class="container-fluid">

      <div class="row" *ngIf="showspinner">
        <hr/>
        <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
      </div>



      <div class="row">
        <div class="col-12">
         
          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <form [formGroup]="ar_customers_opening_balance" (keydown.enter)="$event.preventDefault()">
              <div class="card-body">
                <div class="row">
                  <section class="col-lg-6">
                    <div class="card p-3">
                      <div class="row">
                        <section class="col col-6" [hidden]="n_doc_no <= 0">
                          <div class="form-group">
                            <label class="label translate" data-en="Doc No">رقم المستند</label>
                            <input type="text" class="form-control" formControlName="n_doc_no" readonly />
                          </div>
                        </section>

                        <section class="col col-6">
                          <div class="form-group">
                            <label class="label translate" data-en="Financial Year">العام المالي</label>
                            <input type="text" class="form-control" formControlName="d_Financial_year" readonly />
                          </div>
                        </section>
                      </div>

                      <div class="row">
                        <section class="col col-6">
                          <div class="form-group">
                            <label class="label"><span class="translate" data-en="Date">تاريخ الفاتورة </span><span style="color:red">&nbsp;*</span></label>
                            <mat-form-field>
                              <input matInput [matDatepicker]="datepicker" placeholder="YYYY/MM/DD" datePickerFormat="YYYY/MM/DD" (click)="datepicker.open()"  formControlName="d_doc_date" required>
                              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                              <mat-datepicker #datepicker disabled="false"></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </section>
                      </div>

                      <div class="row">
                        <section class="col col-6">
                          <div class="form-group">
                            <label class="label"><span class="translate" data-en="Customer Type">نوع العميل:</span><span style="color:red">&nbsp;*</span></label>
                            <select-server-side
                              [selectForm]="ar_customers_opening_balance"
                              [controlName]="'n_customer_type_id'"
                              [TextField]="'s_customer_type_name'"
                              [ValueField]="'n_customer_type_id'"
                              [searching]="customerTypesSearching"
                              [filteredServerSide]="customerTypesFilteredServerSide"
                              (OnSearch)="CurrencySearch($event)">
                            </select-server-side>
                          </div>
                        </section>

                        <section class="col col-6">
                          <div class="form-group">
                            <label class="label"><span class="translate" data-en="Currency">العملة:</span><span style="color:red">&nbsp;*</span></label>
                              <select-server-side
                              [selectForm]="ar_customers_opening_balance"
                              [controlName]="'n_currency_id'"
                              [TextField]="'s_currency_name'"
                              [ValueField]="'n_currency_id'"
                              [searching]="currencySearching"
                              [filteredServerSide]="currencyFilteredServerSide"
                              (OnSearch)="CurrencySearch($event)"
                              (onSelectionChange)="currencyChanged()">
                              </select-server-side>
                          </div>
                        </section>
                      </div>

                      <div class="row">
                        <section class="col col-6"  [hidden]="n_currency_id == localCurrency || n_currency_id == 0">
                          <div class="form-group">
                            <label class="label translate" data-en="Factor">معامل التحويل:</label>
                            <input type="number" class="form-control" formControlName="n_currency_coff" />
                          </div>
                        </section>
                      </div>
                    </div>
                  </section>

                  <section class="col-lg-6">
                    <div class="card p-3">
                      <div class="row">
                        <section class="col col-6">
                          <div class="form-group">
                            <label class="label translate" data-en="Ar Description">وصف عربي</label>
                            <textarea class="form-control" formControlName="s_arabic_description" rows="5"></textarea>
                          </div>
                        </section>

                        <section class="col col-6">
                          <div class="form-group">
                            <label class="label translate" data-en="Description">وصف انجليزي</label>
                            <textarea class="form-control" formControlName="s_english_description" rows="5" style="text-align: left;"></textarea>
                          </div>
                        </section>
                      </div>
                    </div>

                    <div class="card p-3">
                      <div class="row">
                        <section class="col col-6">
                          <div class="form-group">
                            <label class="label translate" data-en="Total Debit">إجمالي المدين</label>
                            <input type="number" class="form-control" formControlName="n_total_debit" placeholder="0" readonly />
                          </div>
                        </section>

                        <section class="col col-6">
                          <div class="form-group">
                            <label class="label translate" data-en="Total Credit">إجمالي الدائن</label>
                            <input type="number" class="form-control" formControlName="n_total_credit" placeholder="0" readonly />
                          </div>
                        </section>

                        <section class="col col-6">
                          <div class="form-group">
                            <button type="button" class="btn btn-outline-primary w-100 translate" data-en="Load Customer" (click)="loadDataAreaCustomers();" >تحميل العملاء</button>
                          </div>
                        </section>
                      </div>
                    </div>
                  </section>
                </div>
              </div>

              <div class="card-body">
                <div class="row">
                  <section class="col-lg-12">
                    <div class="card p-3">
                      <div class="row">
                        <div class="col-12 table-responsive">
                          <table id="tblCustomerDetails" class="custom-table" formArrayName="ar_customers_opening_balanceDetails">
                            <thead>
                              <tr>
                                <th style="min-width: 25px" class="translate" data-en="Code" >م</th>
                                <th style="min-width: 140px" class="translate" data-en="Customer No">رقم العميل</th>
                                <th style="min-width: 200px" class="translate" data-en="Customer No">اسم العميل</th>
                                <th style="min-width: 200px" class="translate" data-en="Currency">العملة</th>
                                <th style="min-width: 100px" class="translate" data-en="Factor">معامل التحويل</th>
                                <th style="min-width: 100px" class="translate" data-en="Debit">مدين</th>
                                <th style="min-width: 100px" class="translate" data-en="Credit">دائن</th>
                                <th style="min-width: 250px" class="translate" data-en="Ar Description">الوصف عربي</th>
                                <th style="min-width: 250px" class="translate" data-en="Description">الوصف انجليزي</th>
                                <th style="min-width: 140px" class="translate" data-en="Cost Center 1">رقم مركز التكلفة1</th>
                                <th style="min-width: 200px" class="translate" data-en="Cost Center 2">اسم مركز التكلفة1</th>
                                <th style="min-width: 140px" class="translate" data-en="Cost Center 3">رقم مركز التكلفة2</th>
                                <th style="min-width: 200px" class="translate" data-en="Cost Center 4">اسم مركز التكلفة2</th>
                                <th style="min-width: 45px"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr [formGroupName]="i" *ngFor="let row of ar_customers_opening_balanceDetails.controls; let i = index;">
                                <th scope="row" class="text-center" style="min-width: 25px"> {{ i + 1 }} </th>
                                <td style="min-width: 140px">
                                  <div class="position-relative" >
                                    <i class="fa fa-search position-absolute" (click)="loadCustomers(i)" data-toggle="modal"></i>
                                    <input class="form-control has-search" [ngClass]="isCustomerExist[i] ? 'border-success' : 'border-danger'" type="text" formControlName="n_customer_id" (keypress)="onKeyCustomerSearch($event, i)">
                                  </div>
                                </td>
                                <td style="min-width: 200px">
                                  <input type="text" class="form-control" formControlName="s_customer_name" readonly />
                                </td>

                                <td style="min-width: 200px">
                                  <select class="form-select" formControlName="n_currency_id" (change)="currencyDetailChange(i)">
                                    <option [ngValue]="0" >----------</option>
                                    <option *ngFor="let c of currenciesList" [ngValue]="c.n_currency_id">{{ c.s_currency_name }}</option>
                                  </select>
                                </td>

                                <td style="min-width: 100px">
                                  <input type="number" class="form-control" formControlName="n_currency_coff" [readonly]="currentC[i] == localCurrency || currentC[i]==undefined" />
                                </td>

                                <td style="min-width: 100px">
                                  <input type="number" class="form-control" formControlName="n_debit" placeholder="0" (change)="checkDebit(i); CalcTotal();" />
                                </td>
                                <td style="min-width: 100px">
                                  <input type="number" class="form-control" formControlName="n_credit" placeholder="0" (change)="checkCredit(i); CalcTotal();" />
                                </td>

                                <td style="min-width: 250px">
                                  <textarea class="form-control" formControlName="s_arabic_description" rows="1"></textarea>
                                </td>

                                <td style="min-width: 250px">
                                  <textarea class="form-control" formControlName="s_english_description" rows="1" style="text-align: left;"></textarea>
                                </td>

                                <td style="min-width: 140px">
                                  <div class="position-relative">
                                    <i class="fa fa-search position-absolute" (click)="LoadCostCenter1(i)"></i>
                                    <input class="form-control" type="text" formControlName="s_cost_center_id" (change)="ChangeDetailsCost1(i);">
                                  </div>
                                </td>
                                <td style="min-width: 200px">
                                  <input type="text"  class="form-control" formControlName="s_cost_center_name" readonly>
                                </td>

                                <td style="min-width: 140px">
                                  <div class="position-relative">
                                    <i class="fa fa-search position-absolute" (click)="LoadCostCenter2(i);"></i>
                                    <input class="form-control " type="text" formControlName="s_cost_center_id2" (change)="ChangeDetailsCost2(i);">
                                  </div>
                                </td>
                                <td style="min-width: 200px">
                                  <input type="text"  class="form-control" formControlName="s_cost_center_name2" readonly>
                                </td>

                                <td style="min-height: 45px;">
                              
                                  <i class="bi bi-x-square" (click)="removeDetailsRow(i)"></i> 
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="row">
                          <div class="col-md-12 text-center">
                         


                            <div class="button-plus">
                              <i class="bi bi-plus"></i>
                              <a (click)="addNewCustomerDetailsRow()" class="translate" data-en="Add">أضافة</a>
                           </div>
                          </div>
                         </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </form>
            <div class="card-footer mb-4" >
              <div class="row">
                  
                  <div class="col-md-2">
                    <app-attachments [ID]="this.n_doc_no" [DataArea]="this.ar_customers_opening_balance.value.n_DataAreaID" [Folder]="'CustomerBalance'" [SubFolder]="'Attachments'" *ngIf="this.n_doc_no !=null && this.n_doc_no > 0"></app-attachments>
                  </div>
                </div>


                <div class="row" *ngIf="showspinner">
                  <hr/>
                  <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
                </div>

            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
