




[type="text"]
{
    display: inline-block;
    width: 25%;
    margin-right: 126px;
    border-radius: 1px;

}
.ag-theme-custom
{
    font-family: "Gill Sans"; 
    border-color: #dee5ea;
    background-color: #fff;

}



.bi-search::before {
    content: "\f52a";
    position: absolute;
    right: 359px;
    top: 8px;
    font-size: 1.2rem;
    color: rgb(0,104,215);
  
    font-weight: bold !important;

}