<header>
  <div class="content-wrapper" >
    <section class="content" >
        <div class="container-fluid">
          <h2 class="translate" data-en="Trance Imports"> تحويلات واردة</h2>
        </div>
    </section>
</div>                     
</header>  


<div class="content-wrapper" >
  <section class="content" >
    <div class="container-fluid">
        <div class="row" *ngIf="showspinner" style="margin-top: 89px;">
          <hr/>
          <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
        </div>

                <div class="custom-table-responsive">
                  <table  class="custom-table-add"   height="500">
                    <thead >
                      <tr>
                        <td colspan="10" width="100%" >
                          <div>
                            <div class="s-icons">
                              <i class="bi bi-pencil-fill" style="color:#343A40 ;"></i>
                              <i class="bi bi-file-earmark-excel"></i>
                              <i class="bi bi-info"></i>
                            </div> 
                            <h2 class="translate" data-en="Trance Imports">تحويلات واردة</h2>                  
                            <div class="f-icons">
                              <i class="bi bi-layout-text-window-reverse"></i>
                              <i class="bi bi-microsoft"></i>
                            </div>                       
                          </div>                       
                        </td>     
                      </tr>
        
                      <tr>
                        <th>
                          <input type="text" *ngIf="!isEnglish" class="form-control" (ngModelChange)="DoSearch();"  [(ngModel)]="searchString" placeholder="بحث">
                          <input type="text" *ngIf="isEnglish" class="form-control" (ngModelChange)="DoSearch();"  [(ngModel)]="searchString" placeholder="searching...">
                        </th>
                        <th colspan="12"></th>
                      </tr>
                      
                      <tr>
                        <th class="translate text-center" data-en="Trance NO">رقم الحركه</th>
                        <th class="translate text-center" data-en="From"> من</th>
                        <th class="translate text-center" data-en="To"> الي </th>
                        <th class="translate text-center" data-en="Description"> وصف الحركة</th>
                        <th class="translate text-center" data-en="Qty">   الكمية</th>
                        <th class="translate text-center" data-en="Price">السعر</th>
                        <th class="translate text-center" data-en="Date">التاريخ</th>
                        <!-- <th  >  الكميه </th>
                        <th  >  السعر </th> -->
                        <th *ngIf="canedit"></th>
                        <th *ngIf="candelete"></th>
                        <th ></th>

                      </tr>

                    </thead>
                    <tbody>
                      <tr    *ngFor="let stock of importsLST"    >
                        <td class="text-center" >{{stock.n_document_no}}  </td>
                        <td class="text-center" >{{stock.n_store_id}}  </td>
                        <td class="text-center" >{{stock.n_store_id2}}  </td>
                        <td class="text-center" >{{stock.s_arabic_transaction_desceription}}  </td>
                        <td class="text-center" >{{stock.n_transaction_total_qty}}  </td>
                        <td class="text-center" >{{stock.n_total_value}}  </td>
                        <td class="text-center" >{{stock.d_transaction_date}}  </td> 
                        <td *ngIf="canedit"><a routerLink="/sc/importingTransactionEdit/{{stock.n_document_no}}" data-toggle="tooltip" data-placement="bottom" title="عرض بيانات الحركة" class="translatedata" data-en="Edit"> تعديل</a></td>
                        <td *ngIf="candelete"> <a href="#" data-toggle="modal" data-target="#CancelModal" (click)="getRowID(stock.n_document_no,stock.n_documented_no)" class="translatedata" data-en="Remove"> حذف</a></td>
                        <td > <a href="{{ReportUrl}}PrintReport?docNo={{stock.n_document_no}}&idColName={{this.idColName}}&formID={{this.formID}}&comp={{this.comp}}&year={{this.year}}&branch={{this.branch}}&lang={{this.lang}}" data-toggle="tooltip" target="_blank"  class="btn translatedata" data-en="Print">طباعة</a></td>

                    </tr>
                    <tr >
                      <td colspan="7">
                        <div class="page">
                          <pagination [boundaryLinks]="true" [totalItems]="importsCount"  [maxSize]="5"
                          [(ngModel)]="currentPage"
                          (pageChanged)="pageChanged($event)"
                          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                           </pagination>
                       
                        </div>
      
                      </td>
      
                    </tr>
                    </tbody>
                  
           </table>
      
                </div>
      

              
             

          

  
  <!-- /.content-wrapper -->


  <!-- Button trigger modal -->
  <div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translate" id="exampleModalLongTitle" data-en="Close">الغاء</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body translate"  data-en="Are you sure ?">
                هل انت متاكد من حذف هذا الحركة
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary translate" data-dismiss="modal" #closebutton data-en="Close" >اغلاق</button>
                <button type="button" class="btn btn-primary translate" (click)="DeleteRow()" data-dismiss="modal" #closebutton data-en="Remove">حذف</button>
            </div>
        </div>
    </div>
</div>
 <p></p>
<!-- Modal -->





