<header>
    <div class="content-wrapper" >
        <section class="content" >
            <div class="container-fluid">
            <h2 class="translate" data-en="MultiRevenue">سند قبض</h2>
                <div class="buttons">
                    <div class="button" >
                        <i class="bi bi-bookmark-x "></i>
                        <input type="button" routerLink="/fin/revenuemultilist" class="translate" data-en="Exit" value="خروج">
                    </div>
                    <div class="button">
                        <i class="bi bi-file-earmark-medical  fa-lg"></i>
                        <input type="button" [disabled]="!RevenueForm.valid" class="translate" data-en="Save" value="حفظ"  (click)="save()" value="حفظ">
                    </div>
                </div>
            </div>
  
        </section>
    </div>
  </header>
  <br/>
  
  <div class="content-wrapper" style="min-height: 1233.2px;" [ngClass]="{'disabled':showspinner}">
      <!-- Content Header (Page header) -->
    
      <section class="content">
        <div class="container-fluid">
    
          <div class="row" *ngIf="showspinner">
            <hr/>
            <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
          </div>
    
    
    
          <div class="row">
            <div class="col-12">
            
              <!-- Main content -->
              <div class="invoice p-3 mb-3">
    
                <form [formGroup]="RevenueForm" (keydown.enter)="$event.preventDefault()">
                  <input type="number" style="display: none;" class="form-control" formControlName="n_DataAreaID">
                  <input type="number" style="display: none;" class="form-control" formControlName="n_UserAdd">
                  <input type="number" style="display: none;" class="form-control" formControlName="d_UserAddDate">
                  <input type="number" style="display: none;" class="form-control" formControlName="n_current_branch">
                  <input type="number" style="display: none;" class="form-control" formControlName="n_current_company">
                  <input type="number" style="display: none;" class="form-control" formControlName="n_current_year">
    
                  <div class="card-body" >
                      <div class="row">
    
                          <section class="col-lg-7">
                            <div class="card p-3">
                              <div class="row" >
                                <section class="col col-4" *ngIf="this.DocNo !=null && this.DocNo > 0">
                                  <div class="form-group">
                                      <label class="label translate" data-en="Doc Noc">رقم المستند:</label>
                                      <div class="input-group">
                                        <input type="number" class="form-control" formControlName="n_doc_no" readonly>
                                      </div>
                                  </div>
                                </section>
                                <section class="col col-4" *ngIf="this.DocNo !=null && this.DocNo > 0">
                                    <div class="form-group">
                                        <label class="label translate "data-en="Serial No">مسلسل الحركة:</label>
                                        <div class="input-group">
                                          <input type="number" class="form-control" formControlName="n_serial" readonly>
                                        </div>
                                    </div>
                                </section>
                                <section class="col col-4" >
                                    <div class="form-group">
                                        <label class="label translate" data-en="Book No">الرقم الدفترى:</label>                                                            
                                        <div class="input-group">
                                          <input type="text" class="form-control" formControlName="s_book_doc_no" >
                                        </div>
                                    </div>
                                </section>
                              </div>
  
                              <div class="row">
                                  <section class="col col-6">
                                      <div class="form-group">
                                          <label class="label"><span class="translate" data-en="Date">تاريخ المستند:</span><span style="color:red">&nbsp;*</span></label>
                                          <mat-form-field>
                                            <input matInput [matDatepicker]="datepicker" placeholder="YYYY/MM/DD" datePickerFormat="YYYY/MM/DD" (click)="datepicker.open()"  formControlName="d_doc_date" required>
                                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                            <mat-datepicker #datepicker disabled="false"></mat-datepicker>
                                          </mat-form-field>
                                      </div>
                                  </section>
                                  <section class="col col-4">
                                    <div class="form-group">
                                        <label class="label"><span class="translate" data-en="Currency">العملة:</span><span style="color:red">&nbsp;*</span></label>                                                            
                                        <div class="input-group">
                                            <select class="form-select" formControlName="n_currency_id" (change)="CheckIsMain()" >
                                            <option *ngFor="let c of CurrencyData" [ngValue]="c.n_currency_id">{{ c.s_currency_name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                  </section>

                                  <section class="col col-2" [hidden]="!bisMainCurrency">
                                    <div class="form-group">
                                        <label class="label translate" data-en="Factor">المعامل:</label>                                                            
                                        <div class="input-group">
                                          <input type="number" class="form-control" formControlName="n_currency_coff" value="1" >
                                        </div>
                                    </div>
                                  </section>
                              </div>
                              <div class="row">
                                <section class="col col-6">
                                    <div class="form-group">
                                        <label class="label translate" data-en="Ar Description">الوصف العام:</label>
                                        <div class="input-group">
                                          <input type="text" class="form-control" formControlName="s_description" >
                                        </div>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        <label class="label translate" data-en="Description">الوصف العام Eng:</label>
                                        <div class="input-group">
                                          <input type="text" class="form-control" formControlName="s_description_eng" >
                                        </div>
                                    </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6">
                                    <div class="form-group">
                                      <label class="label"><span class="translate" data-en="SalesMan">المندوب:</span><span style="color:red">&nbsp;*</span></label>                      
                                        <select-server-side 
                                        [selectForm]="RevenueForm"
                                        [controlName]="'n_salesman_id'"
                                        [TextField]="'s_salesman_name'"
                                        [ValueField]="'n_salesman_id'"
                                        [searching]="searchingSalesman"
                                        [filteredServerSide]="filteredSalesmanServerSide"
                                        (OnSearch)="searchSalesman($event)">
                                        </select-server-side>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                      <label class="label translate" data-en="Employee">الموظف:</label>                      
                                        <select-server-side
                                        [selectForm]="RevenueForm"
                                        [controlName]="'n_employee_id'"
                                        [TextField]="'s_employee_name'"
                                        [ValueField]="'n_employee_id'"
                                        [searching]="searchingEmployee"
                                        [filteredServerSide]="filteredEmployeeServerSide"
                                        (OnSearch)="searchEmployee($event)">
                                        </select-server-side>
                                    </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-4" >
                                    <div class="form-group">
                                        <label class="label translate" data-en="Total Debit">اجمالى مدين:</label>                                                            
                                        <div class="input-group">
                                          <input type="number" class="form-control" formControlName="n_total_debit" readonly>
                                        </div>
                                    </div>
                                </section>
                                <section class="col col-4" >
                                    <div class="form-group">
                                        <label class="label translate" data-en="Total Credit">اجمالى دائن:</label>                                                            
                                        <div class="input-group">
                                          <input type="number" class="form-control" formControlName="n_total_credit" readonly>
                                        </div>
                                    </div>
                                </section>
                                <section class="col col-4" >
                                    <div class="form-group">
                                        <label class="label translate" data-en="Total Tax">اجمالى الضريبة:</label>                                                            
                                        <div class="input-group">
                                          <input type="number" class="form-control" formControlName="n_total_tax" readonly>
                                        </div>
                                    </div>
                                </section>
                              </div>
                          </div> 

                          <!-- <div class="card p-3">
                              <div class="row">     
                                <section class="col col-6">
                                    <div class="form-group">
                                        <label class="label">الجهة:<span style="color:red">&nbsp;*</span></label>                                                            
                                        <div class="input-group">
                                            <select class="form-select" formControlName="n_source_debit" (change)="ChangeDebitItems()">
                                              <option *ngFor="let c of DebitTypes" [ngValue]="c.n_financial_source_no">{{ c.s_financial_source_name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                  </section> 
                                  <section class="col col-6">
                                    <div class="form-group">
                                      <label class="label">رقم الجهة:<span style="color:red">&nbsp;*</span></label>                      
                                        <select-server-side
                                        [selectForm]="RevenueForm"
                                        [controlName]="'s_source_debit'"
                                        [TextField]="'s_source_name'"
                                        [ValueField]="'n_source_id'"
                                        [searching]="searchingDebit"
                                        [filteredServerSide]="filteredDebitServerSide"
                                        (OnSearch)="searchDebit($event)">
                                        </select-server-side>
                                    </div>
                                  </section>
                              </div>
                              <div class="row"> 
                                <section class="col col-6">
                                    <div class="form-group">
                                        <label class="label">الوصف:</label>
                                        <div class="input-group">
                                          <input type="text" class="form-control" formControlName="s_description_debit" >
                                        </div>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        <label class="label">الوصف Eng:</label>
                                        <div class="input-group">
                                          <input type="text" class="form-control" formControlName="s_description_debit_eng" >
                                        </div>
                                    </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6">
                                    <div class="form-group">
                                    <label class="label">مركز التكلفة 1:</label>                      
                                        <select-server-side
                                        [selectForm]="RevenueForm"
                                        [controlName]="'s_cost_center_id'"
                                        [TextField]="'s_cost_center_name'"
                                        [ValueField]="'s_cost_center_id'"
                                        [searching]="searchingCost"
                                        [filteredServerSide]="filteredCostCenterServerSide"
                                        (OnSearch)="searchCost($event)">
                                        </select-server-side>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                    <label class="label">مركز التكلفة 2:</label>                      
                                        <select-server-side
                                        [selectForm]="RevenueForm"
                                        [controlName]="'s_cost_center_id2'"
                                        [TextField]="'s_cost_center_name'"
                                        [ValueField]="'s_cost_center_id'"
                                        [searching]="searchingCost"
                                        [filteredServerSide]="filteredCostCenter2ServerSide"
                                        (OnSearch)="searchCost2($event)">
                                        </select-server-side>
                                    </div>
                                  </section>
                              </div>
                              <div class="row">
                                <section class="col col-6" >
                                    <div class="form-group">
                                        <label class="label">المبلغ:</label>                                                            
                                        <div class="input-group">
                                          <input type="number" class="form-control" formControlName="n_debit" >
                                        </div>
                                    </div>
                                </section>
                                <div class="col-md-6 text-center">
                                    <div class="button-plus">
                                    <i class="bi bi-plus"></i>
                                    <a (click)="addDebitDetails()">إضافة</a>
                                    </div>
                                </div>
                              </div>
                          </div>

                          <div class="card p-3">
                            <div class="row">     
                              <section class="col col-6">
                                  <div class="form-group">
                                      <label class="label">الجهة:<span style="color:red">&nbsp;*</span></label>                                                            
                                      <div class="input-group">
                                          <select class="form-select" formControlName="n_source_credit" (change)="ChangeCreditItems()">
                                            <option *ngFor="let c of CreditTypes" [ngValue]="c.n_financial_source_no">{{ c.s_financial_source_name }}</option>
                                          </select>
                                      </div>
                                  </div>
                                </section> 
                                <section class="col col-6">
                                  <div class="form-group">
                                    <label class="label">رقم الجهة:<span style="color:red">&nbsp;*</span></label>                      
                                      <select-server-side
                                      [selectForm]="RevenueForm"
                                      [controlName]="'s_source_credit'"
                                      [TextField]="'s_source_name'"
                                      [ValueField]="'n_source_id'"
                                      [searching]="searchingCredit"
                                      [filteredServerSide]="filteredCreditServerSide"
                                      (OnSearch)="searchCredit($event)">
                                      </select-server-side>
                                  </div>
                                </section>
                            </div>
                            <div class="row"> 
                                <section class="col col-6">
                                    <div class="form-group">
                                        <label class="label">الوصف:</label>
                                        <div class="input-group">
                                          <input type="text" class="form-control" formControlName="s_description_debit" >
                                        </div>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        <label class="label">الوصف Eng:</label>
                                        <div class="input-group">
                                          <input type="text" class="form-control" formControlName="s_description_debit_eng" >
                                        </div>
                                    </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6">
                                    <div class="form-group">
                                    <label class="label">مركز التكلفة 1:</label>                      
                                        <select-server-side
                                        [selectForm]="RevenueForm"
                                        [controlName]="'s_cost_center_id'"
                                        [TextField]="'s_cost_center_name'"
                                        [ValueField]="'s_cost_center_id'"
                                        [searching]="searchingCost"
                                        [filteredServerSide]="filteredCostCenterServerSide"
                                        (OnSearch)="searchCost($event)">
                                        </select-server-side>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                    <label class="label">مركز التكلفة 2:</label>                      
                                        <select-server-side
                                        [selectForm]="RevenueForm"
                                        [controlName]="'s_cost_center_id2'"
                                        [TextField]="'s_cost_center_name'"
                                        [ValueField]="'s_cost_center_id'"
                                        [searching]="searchingCost"
                                        [filteredServerSide]="filteredCostCenter2ServerSide"
                                        (OnSearch)="searchCost2($event)">
                                        </select-server-side>
                                    </div>
                                  </section>
                              </div>
                              <div class="row">
                                <section class="col col-6" >
                                    <div class="form-group">
                                        <label class="label">المبلغ:</label>                                                            
                                        <div class="input-group">
                                          <input type="number" class="form-control" formControlName="n_debit" >
                                        </div>
                                    </div>
                                </section>
                                <div class="col-md-6 text-center">
                                    <div class="button-plus">
                                    <i class="bi bi-plus"></i>
                                    <a (click)="addCreditDetails()">إضافة</a>
                                    </div>
                                </div>
                              </div>
                        </div> -->
                      </section>

                          <section class="col-lg-5 ">
                            <div class="card p-3" *ngIf="isBank || isBank2">
                              <div class="row">
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label translate" data-en="Cheque No">رقم الشيك:</label>                                                            
                                      <div class="input-group">
                                        <input type="number" class="form-control" formControlName="s_cheque_no" >
                                      </div>
                                  </div>
                                </section>
                                <section class="col col-6">
                                  <div class="form-group">
                                      <label class="labe translate" data-en="Due Date">تاريخ الاستحقاق:</label>
                                      <mat-form-field>
                                        <input matInput [matDatepicker]="datepicker1" placeholder="YYYY/MM/DD" datePickerFormat="YYYY/MM/DD" (click)="datepicker1.open()"  formControlName="d_due_date">
                                        <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker1 disabled="false"></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label translate" data-en="Collection Bank">البنك المسحوب عليه:</label>                                                            
                                      <div class="input-group">
                                        <input type="number" class="form-control" formControlName="s_collection_bank" >
                                      </div>
                                  </div>
                                </section>
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">اسم المستفيد:</label>                                                            
                                      <div class="input-group">
                                        <input type="number" class="form-control" formControlName="s_cheque_Benifer" >
                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6">
                                  <div class="form-group">
                                    <label class="checkbox">
                                      <input type="checkbox" formControlName="b_Cheque_Status">
                                      <i></i> تم السداد
                                    </label>
                                  </div>
                                </section>
                                <section class="col col-6">
                                  <div class="form-group">
                                    <label class="checkbox">
                                      <input type="checkbox" formControlName="b_cheque_ReceiveDone">
                                      <i></i> تم الاستلام
                                    </label>
                                  </div>
                                </section>
                              </div>
                              <div class="row" *ngIf="isRecieved">
                                <section class="col col-6">
                                  <div class="form-group">
                                      <label class="label">تاريخ الاستلام:</label>
                                      <mat-form-field>
                                        <input matInput [matDatepicker]="datepicker2" placeholder="YYYY/MM/DD" datePickerFormat="YYYY/MM/DD" (click)="datepicker2.open()"  formControlName="d_cheque_received_date">
                                        <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker2 disabled="false"></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                                </section>
                              </div>
                            </div>
                            <div class="card p-3" *ngIf="isTransfer">
                              <div class="row">
                                <section class="col col-6">
                                  <div class="form-group">
                                      <label class="label">نوع الحوالة:</label>                                                            
                                      <div class="input-group">
                                          <select class="form-select" formControlName="n_transferType" >
                                          <option *ngFor="let c of TransferData" [ngValue]="c.code">{{ c.name_arabic }}</option>
                                          </select>
                                      </div>
                                  </div>
                                </section>
                                <section class="col col-6">
                                  <div class="form-group">
                                      <label class="label">تاريخ الاستحقاق:</label>
                                      <mat-form-field>
                                        <input matInput [matDatepicker]="datepicker3" placeholder="YYYY/MM/DD" datePickerFormat="YYYY/MM/DD" (click)="datepicker3.open()"  formControlName="d_cheque_received_date">
                                        <mat-datepicker-toggle matSuffix [for]="datepicker3"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker3 disabled="false"></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">رقم الحوالة:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="s_transfer_no" >
                                      </div>
                                  </div>
                                </section>
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">اسم المستفيد:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="s_cheque_Benifer" >
                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">الايبان:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="s_IBAN" >
                                      </div>
                                  </div>
                                </section>
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">السويفت كود:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="s_SwiftCode" >
                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">رقم الحساب المحول له:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="s_TransferToAccount" >
                                      </div>
                                  </div>
                                </section>
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">البلد:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="s_Country" >
                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">المدينة:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="sCity" >
                                      </div>
                                  </div>
                                </section>
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">العنوان:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="sAddress" >
                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">عمولة البنك:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="n_bank_commission" >
                                      </div>
                                  </div>
                                </section>
                              </div>                       
                              <div class="row">
                                <section class="col col-6">
                                  <div class="form-group">
                                    <label class="checkbox">
                                      <input type="checkbox" formControlName="b_Cheque_Status">
                                      <i></i> تم السداد
                                    </label>
                                  </div>
                                </section>
                                <section class="col col-6">
                                  <div class="form-group">
                                    <label class="checkbox">
                                      <input type="checkbox" formControlName="b_received">
                                      <i></i> تم الاستلام
                                    </label>
                                  </div>
                                </section>
                              </div>
                            </div>
                            <div class="card p-3" *ngIf="isCard">
                              <div class="row">
                                <section class="col col-6">
                                  <div class="form-group">
                                      <label class="label">نوع البطاقة:</label>                                                            
                                      <div class="input-group">
                                          <select class="form-select" formControlName="n_credit_card_type" >
                                            <option *ngFor="let c of CardData" [ngValue]="c.n_credit_card_no">{{ c.s_credit_card_name }}</option>
                                          </select>
                                      </div>
                                  </div>
                                </section>
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">رقم البطاقة:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="s_credit_card_no" >
                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6" >
                                  <div class="form-group">
                                      <label class="label">كود التحقق:</label>                                                            
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="s_credit_card_no_Auth" >
                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="row">
                                <section class="col col-6">
                                  <div class="form-group">
                                      <label class="label">تاريخ انتهاء البطاقة:</label>
                                      <mat-form-field>
                                        <input matInput [matDatepicker]="datepicker4" placeholder="YYYY/MM/DD" datePickerFormat="YYYY/MM/DD" (click)="datepicker4.open()"  formControlName="d_credit_card_expiry_date">
                                        <mat-datepicker-toggle matSuffix [for]="datepicker4"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker4 disabled="false"></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                                </section>
                              </div>
                            </div>
                            <div class="card p-3">
                              <div class="row">     
                                  <section class="col col-12">
                                      <div class="form-group">
                                          <label class="label" style="visibility: hidden;" >عرض القيد</label>                                                            
                                          <div class="input-group">
                                              <input type="button" id="btnJournal"  data-en="Show Journal" style="z-index: 1;" class="btn btn-secondary btn-lg btn-block translate" value="عرض القيد" (click)="JournalShow()">
                                          </div>
                                      </div>
                                  </section>
                              </div>
                          </div>
                          </section>
                  </div> 
                  </div>

                  <div class="row" >
                    <div class="col-12 table-responsive">
                      <table  *ngIf="revenueDetails.controls.length > 0" class="custom-table" formArrayName="revenueDetails">
                        <thead>
                        <tr>
                          <th style="min-width: 20px; text-align: center;" >#</th>
                          <th style="min-width: 100px; text-align: center;" class="translatedata" data-en="Type">النوع</th>
                          <th style="min-width: 130px; text-align: center;" class="translatedata" data-en="Source">الجهة</th>
                          <th style="min-width: 100px; text-align: center;" class="translatedata" data-en="Source Code">كود الجهة</th>
                          <th style="min-width: 200px; text-align: center;" class="translatedata" data-en="Source Name">اسم الجهة</th>
                          <th style="min-width: 100px; text-align: center;" class="translatedata" data-en="Debit">مدين</th>
                          <th style="min-width: 100px; text-align: center;" class="translatedata" data-en="Credit">دائن</th>
                          <th style="min-width: 130px; text-align: center;" class="translatedata" data-en="Tax Status">الموقف الضريبى</th>
                          <th style="min-width: 50px; text-align: center;"  class="translatedata" data-en="Including tax">شامل الضريبة</th>
                          <th style="min-width: 100px; text-align: center;" class="translatedata" data-en="Added Value">القيمة المضافة</th>
                          <th style="min-width: 130px; text-align: center;" class="translatedata" data-en="Classfication">التصنيف</th>
                          <th style="min-width: 100px; text-align: center;" class="translatedata" data-en="Montray Dicount">خصم نقدى</th>
                          <th style="min-width: 150px; text-align: center;" class="translatedata" data-en="Ar Description">الوصف</th>
                          <th style="min-width: 150px; text-align: center;" class="translatedata" data-en="Description">الوصف Eng</th>
                          <th style="min-width: 130px; text-align: center;" class="translatedata" data-en="Cost Center C">ك مركز التكلفة</th>
                          <th style="min-width: 200px; text-align: center;" class="translatedata" data-en="Cost Center ">مركز التكلفة</th>
                          <th style="min-width: 130px; text-align: center;" class="translatedata" data-en="Cost Center C2">ك مركز التكلفة2</th>
                          <th style="min-width: 200px; text-align: center;" class="translatedata" data-en="Cost Center 2">مركز التكلفة 2</th>
                          <th style="min-width: 35px; text-align: center;"  class="translatedata" data-en="Remove">حذف</th>
                        </tr>
                        </thead>
                        <tbody>
                  
                        <tr  [formGroupName]="i" *ngFor="let det of revenueDetails.controls; let i=index">

                          <td style="min-width: 20px;">
                            {{det.value.nLineNo}}
                          </td>

                          <td style="min-width: 100px;">
                            <select class="form-select {{det.value.s_type}}" formControlName="n_type" (change)="ChangeType(i)">
                                <option value="1">مدين</option>
                                <option value="2">دائن</option>
                            </select>
                          </td>

                          <td style="min-width: 130px;">
                            <select class="form-select {{det.value.s_source_color}}" formControlName="n_source_id" (change)="ChangeDebitItems(i)" *ngIf="this.RevenueForm.value.revenueDetails[i].n_type==1">
                                <option *ngFor="let c of DebitTypes" [ngValue]="c.n_financial_source_no">{{ c.s_financial_source_name }}</option>
                            </select>
                            <select class="form-select {{det.value.s_source_color}}" formControlName="n_source_id" (change)="ChangeCreditItems(i)" *ngIf="this.RevenueForm.value.revenueDetails[i].n_type==2">
                                <option *ngFor="let c of CreditTypes" [ngValue]="c.n_financial_source_no">{{ c.s_financial_source_name }}</option>
                            </select>
                          </td>
        
                          <td style="min-width: 100px;">
                            <div class="position-relative">
                              <i class="fa fa-search position-absolute"  data-toggle="modal" (click)="LoadSources(i);"></i>
                              <input class="form-control {{det.value.s_source_no_color}}" type="text" formControlName="s_source_no"  (change)="ChangeSource(i);">
                            </div>
                          </td>
        
                          <td style="min-width: 200px;">
                            <input type="text" class="form-control" formControlName="s_source_name" readonly>
                          </td>

                          <td style="min-width: 100px;">
                            <input type="number" class="form-control {{det.value.s_debit_color}}" formControlName="n_debit" (change)="TotalTaxed(i)"> 
                          </td>

                          <td style="min-width: 100px;">
                            <input type="number" class="form-control {{det.value.s_credit_color}}" formControlName="n_credit" (change)="TotalTaxed(i)"> 
                          </td>

                          <td style="min-width: 130px;">
                            <select class="form-select" formControlName="n_tax_type" (change)="CheckIsTaxed(i)">
                                <option *ngFor="let c of VatCategoryData" [ngValue]="c.code">{{ c.name_arabic }}</option>
                            </select>
                          </td>

                          <td style="min-width: 50px;">
                            <input type="checkbox" formControlName="b_has_tax">
                          </td>

                          <td style="min-width: 100px;">
                            <input type="number"  class="form-control" formControlName="n_sales_tax" readonly> 
                          </td>

                          <td style="min-width: 130px;">
                            <select class="form-select" formControlName="n_tax_category">
                                <option value="1">مدخلات</option>
                                <option value="2">مخرجات</option>
                            </select>
                          </td>

                          <td style="min-width: 100px;">
                            <input type="number"  class="form-control" formControlName="n_discount" > 
                          </td>

                          <td style="min-width: 150px;">
                            <input type="text"  class="form-control" formControlName="s_description" > 
                          </td>

                          <td style="min-width: 150px;">
                            <input type="text"  class="form-control" formControlName="s_description_eng" > 
                          </td>
                          
                          <td style="min-width: 130px;">
                            <div class="position-relative">
                              <i class="fa fa-search position-absolute" (click)="LoadCostCenter1(i)"></i>
                              <input class="form-control" type="text" formControlName="s_cost_center_id" (change)="ChangeDetailsCost1(i);">
                            </div>
                          </td>

                          <td style="min-width: 200px;">
                            <input type="text"  class="form-control" formControlName="s_cost_center_name" readonly>
                          </td>

                          <td style="min-width: 130px;">
                            <div class="position-relative">
                              <i class="fa fa-search position-absolute" (click)="LoadCostCenter2(i);"></i>
                              <input class="form-control " type="text" formControlName="s_cost_center_id2" (change)="ChangeDetailsCost2(i);">
                            </div>
                          </td>

                          <td style="min-width: 200px;">
                            <input type="text"  class="form-control" formControlName="s_cost_center_name2" readonly>
                          </td>

                          <td style="min-width: 35px;">
                            <a  (click)="RemoveRevenueDetail(i)" class="button-minus"> <i class="bi bi-x-square"></i> </a>
                          </td>
                  
                        </tr>
                  
                        </tbody>
                      </table>
                    </div>
                    <br><br><br>
                    <div class="row p-3">
                      <div class="col-md-12 text-center">
                        <div class="button-plus">
                          <i class="bi bi-plus"></i>
                          <a (click)="addRevenueDetails()" class="translate" data-en="Add Line">إضافة سطر</a>
                        </div>
                      </div>
                    </div>
                  </div>
    
     
    <div class="card-footer mb-4" >
      <div class="row">
        
           <div class="col-md-2">
            <app-attachments [ID]="this.DocNo" [DataArea]="this.RevenueForm.value.n_DataAreaID" [Folder]="'Revenue'" [SubFolder]="'Attachments'" *ngIf="this.DocNo !=null && this.DocNo > 0"></app-attachments>
           </div>
        </div>
    
        <div class="row" *ngIf="showspinner">
          <hr/>
          <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
        </div>
    
    </div>
    
                  </form>
    
              </div>
              <!-- /.invoice -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
