<header>
  <div class="content-wrapper"  >
    <section class="content" >
      <div class="container-fluid">
        <h2 class="translate" data-en="Store Inventory">الجرد المخزنى</h2>
        <div class="buttons">
          <div class="button" *ngIf="cannew">
            <i class="bi bi-file-earmark-medical  fa-lg"></i>
            <a routerLink="/sc/stocktaking" class="translate" data-en="New" >جديد
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>



<div class="content-wrapper" style="    margin-top: 140px;" >
  <section class="content" >
        <div class="container-fluid">
            <div class="row" *ngIf="showspinner" >
              <hr/>
              <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
            </div>

              <!-- <div class="serach-input" >     
                <input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="DocNo">
                <input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="Date">
                <input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="Store">
                <input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="Description">              
              </div> -->

                <div class="custom-table-responsive">
                  <table  class="custom-table-add" height="500"   >
                
                    <thead >
                      <tr>
                        <td colspan="12" width="100%" >    
                          <div>      
                            <div class="s-icons">
                              <i class="bi bi-pencil-fill" style="color:#343A40 ;"></i>
                              <i class="bi bi-file-earmark-excel"></i>
                              <i class="bi bi-info"></i>
                            </div> 
                            <h2 class="translate" data-en="Store Inventory">الجرد المخزنى</h2>
                            <div class="f-icons">
                              <i class="bi bi-layout-text-window-reverse"></i>
                              <i class="bi bi-microsoft"></i>
                            </div>                     
                          </div>      
                        </td>      
                      </tr>
                      
                      <tr>
                        <th><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="DocNo"></th>
                        <th><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="Date"></th>
                        <th><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="Store"></th>
                        <th><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="Description"> </th>
                        <th></th>
                        <th></th>
                      </tr>
                 
                      <tr>
                        <th style="text-align: center;"class="translate" data-en="Inventory NO">رقم الجرد</th>
                        <th style="text-align: center;" class="translate" data-en="Inventory Date" >تاريخ الجرد</th>
                        <th style="text-align: center;" class="translate" data-en="Store ">المخزن</th>
                        <th style="text-align: center;" class="translate" data-en="Description">الوصف</th>
                        <th style="text-align: center;" *ngIf="canedit"></th>
                        <th style="text-align: center;" *ngIf="candelete"></th>  
                        <th style="text-align: center;"></th>  
                      </tr>

                    </thead>
                    <tbody>
                      <tr *ngFor="let item of StockData" >
                        <td style="text-align: center;" >{{item.n_document_no}}  </td>
                        <td style="text-align: center;" >{{item.d_stock_tacking_date}}  </td>
                        <td style="text-align: center;" >{{item.s_store_name}}  </td>
                        <td style="text-align: center;" >{{item.s_transaction_description}}  </td>
                        <td  style="text-align: center;" *ngIf="canedit"> <a routerLink="/sc/editstocktaking/{{item.n_document_no}}" data-toggle="tooltip" data-placement="bottom" title="عرض بيانات الصنف"  class="translatedata">تعديل</a></td>
                        <td  style="text-align: center;" *ngIf="candelete"> <a href="#" data-toggle="modal" data-target="#CancelModal" (click)="getRowID(item.n_document_no)" class="translatedata" >حذف</a></td>
                        <td > <a href="{{ReportUrl}}PrintReport?docNo={{item.n_document_no}}&idColName={{this.idColName}}&formID={{this.formID}}&comp={{this.comp}}&year={{this.year}}&branch={{this.branch}}&lang={{this.lang}}" data-toggle="Print" target="_blank" class="btn translatedata" data-en="Print">طباعة</a></td>
                      </tr>
                    </tbody>
                  
           </table>
      
                </div>

               
       
  
      </div>
  </section>
</div>
<br/><br/>

  <!-- Button trigger modal -->
  <div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">الغاء</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                هل انت متاكد من حذف هذا الجرد
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton >اغلاق</button>
                <button type="button" class="btn btn-primary" (click)="deleteRow()">حذف</button>
            </div>
        </div>
    </div>
</div>
 <p></p>
<!-- Modal -->





