<header>
  <div class="content-wrapper" >
      <section class="content" >
          <div class="container-fluid">
          <h2 class="translate"> اضافة كفيل </h2>
              <div class="buttons">
                  <div class="button" >
                      <i class="bi bi-bookmark-x "></i>
                      <input type="button" routerLink="/hr/sponserslist" class="translate"  data-en="Exit"value="خروج">
                  </div>
                  <div class="button">
                      <i class="bi bi-file-earmark-medical  fa-lg"></i>
                      <input type="button" [disabled]="!Py_Sponsers.valid" value="حفظ" class="translate" data-en="Save"  (click)="Save()" value="حفظ">
                  </div>
              </div>
          </div>

      </section>
  </div>
</header>
<br/>

<div class="content-wrapper" style="min-height: 1233.2px;">
    <!-- Content Header (Page header) -->

    <section class="content">
      <div class="container-fluid">

        <div class="row" *ngIf="showspinner">
          <hr/>
          <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
        </div>



        <div class="row">
          <div class="col-12">

            <!-- Main content -->
            <div class="invoice p-3 mb-3">

              <form [formGroup]="Py_Sponsers" (keydown.enter)="$event.preventDefault()">
                <input type="number" style="display: none;" class="form-control" formControlName="n_DataAreaID">
                <input type="number" style="display: none;" class="form-control" formControlName="n_UserAdd">
                <input type="number" style="display: none;" class="form-control" formControlName="d_UserAddDate">
                <input type="number" style="display: none;" class="form-control" formControlName="n_current_branch">
                <input type="number" style="display: none;" class="form-control" formControlName="n_current_company">
                <input type="number" style="display: none;" class="form-control" formControlName="n_current_year">

                <div class="card-body" >
                    <div class="row">

                        <section class="col-lg-7">
                          <div class="card p-3">
                            <div class="row">
                              <section class="col col-6" *ngIf="this.sponserId > 0">
                                <div class="form-group">
                                    <label class="label translate" data-en="Sponser Number:">رقم الكفيل:</label>
                                    <input type="number" class="form-control w-50" formControlName="n_Sponser_id" readonly>
                                </div>
                              </section>

                              <section class="col col-6">
                                <div class="form-group">
                                  <label class="label translate" data-en="Sponser type:">نوع الكفالة:<span style="color: red;">*</span></label>
                                  <select class="form-select" formControlName="n_type">
                                    <option *ngFor="let c of TypesList" [ngValue]="c.code">{{ c.name_arabic }}</option>
                                 </select>
                                </div>
                              </section>
                            </div>

                            <div class="row">
                              <section class="col col-6">
                                <div class="form-group">
                                    <label class="label translate" data-en="Payment Arabic name:">اسم الكفيل عربي:<span style="color: red;">*</span> </label>
                                    <input type="text" class="form-control" formControlName="s_Sponser_name" />
                                </div>
                              </section>

                              <section class="col col-6">
                                <div class="form-group">
                                    <label class="label translate" data-en="Payment English name:">اسم الكفيل انجليزي:</label>
                                    <input type="text" class="form-control" formControlName="s_Sponser_name_eng" />
                                </div>
                              </section>
                            </div>

                            <div class="row">
                              <section class="col col-12">
                                <div class="form-group">
                                    <label class="label translate" data-en="Address:">العنوان:</label>
                                    <input type="text" class="form-control" formControlName="s_address" />
                                </div>
                              </section>
                            </div>

                            <div class="row">
                              <section class="col col-6">
                                <div class="form-group">
                                    <label class="label translate" data-en="Phone number:">التليفون:</label>
                                    <input type="text" class="form-control" formControlName="s_tel" />
                                </div>
                              </section>
                            </div>

                            <div class="row">
                              <section class="col col-6">
                                <div class="form-group">
                                    <label class="label translate" data-en="Computer number:">رقم الحاسب الآلي:</label>
                                    <input type="text" class="form-control" formControlName="s_Computer_No" />
                                </div>
                              </section>

                              <section class="col col-6">
                                <div class="form-group">
                                    <label class="label translate" data-en="File Number in Gawazat:">رقم الملف بالجوازات:</label>
                                    <input type="text" class="form-control" formControlName="s_FileInGawazat" />
                                </div>
                              </section>
                            </div>

                            <div class="row">
                              <section class="col col-6">
                                <div class="form-group">
                                    <label class="label translate" data-en="File number in work office:">رقم الملف بمكتب العمل:</label>
                                    <input type="text" class="form-control" formControlName="s_FileInWorkOffice" />
                                </div>
                              </section>

                              <section class="col col-6">
                                <div class="form-group">
                                    <label class="label translate" data-en="File Number in social insurance:">رقم الملف بالتأمينات الاجتماعية:</label>
                                    <input type="text" class="form-control" formControlName="s_FileInSocialInsur" />
                                </div>
                              </section>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
