<header>
  <div class="content-wrapper"  >
    <section class="content" >
      <div class="container-fluid">
        <h2 class="translate" data-en="Recieve Transfered Cashes">استلام التحويلات النقدية</h2>
        <div class="buttons">
          <div class="button" *ngIf="cannew">
            <i class="bi bi-file-earmark-medical  fa-lg"></i>
            <a routerLink="/fin/financialmulticahstransadd" class="translatedata" data-en="New">جديد</a>
          </div>
          <!-- <div class="button">
            <i class="bi bi-bookmark-x fa-lg"></i>
            <a  (click)="PrintExcel()" id="excelBTN" class="translate"data-en="Emport Exel" value=>تصدير لإكسيل</a>
          </div> -->
        </div>
        <div>
        </div>
      </div>
    </section>
  </div>
</header>

<div class="content-wrapper" style="margin-top: 140px;" >
  <section class="content" >
        <div class="container-fluid">
            <div class="row" *ngIf="showspinner" >
              <hr/>
              <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
            </div>

        <div class="custom-table-responsive">

          <table  class="custom-table-add" >
            <thead>
              <tr>
                <td colspan="12" width="100%" >
                  <div>
                    <div class="s-icons">
                      <i class="bi bi-pencil-fill" style="color:#343A40 ;"></i>
                      <i class="bi bi-file-earmark-excel"></i>
                      <i class="bi bi-info"></i>
                    </div>
                    <h2 class="translate" data-en="Outgoing Cash Transfer">استلام التحويلات النقدية</h2>
                    <div class="f-icons">
                      <i class="bi bi-layout-text-window-reverse"></i>
                      <i class="bi bi-microsoft"></i>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="DocNo"></th>
                <!-- <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="DocSerial"></th> -->
                <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="DocDate"></th>
                <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="CurrencyName"></th>
                <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="Description"></th>
                <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="Total"></th>
                <!-- <th *ngIf="canedit"></th> -->
                <th *ngIf="candelete"></th>
                <th></th>
              </tr>

              <tr>
                <th style="text-align: center;text-align: center;" class="translate" data-en="Journal No">رقم السند</th>
                <!-- <th style="text-align: center;text-align: cen class="translate" data-en=""ter;">مسلسل الحركة</th> -->
                <th style="text-align: center;text-align: center;" class="translate" data-en="Date">تاريخ السند</th>
                <th style="text-align: center;text-align: center;" class="translate" data-en="Currency">العملة</th>
                <th style="text-align: center;text-align: center;" class="translate" data-en="Description">الوصف</th>
                <th style="text-align: center;text-align: center;" class="translate" data-en="Total">الاجمالى</th>
                <!-- <th style="text-align: center;text-align: center;" *ngIf="canedit"></th> -->
                <th style="text-align: center;text-align: center;" *ngIf="candelete">
                <th style="text-align: center;text-align: center;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of TransferData">
                <td style="text-align: center;" >{{item.n_doc_no}}  </td>
                <!-- <td style="text-align: center;" >{{item.n_serial}}  </td> -->
                <td style="text-align: center;" >{{item.d_doc_date}}  </td>
                <td style="text-align: center;" >{{item.s_currency_name}}  </td>
                <td style="text-align: center;" >{{item.s_description}}  </td>
                <td style="text-align: center;" >{{item.n_total_value}}  </td>
                <!-- <td style="text-align: center;" *ngIf="canedit"> <a routerLink="/fin/outgoingcashtransferedit/{{item.n_doc_no}}" data-toggle="tooltip" data-placement="bottom" title="عرض بيانات السند"  class="btn translatedata" data-en="Edit" [class.disabled]="item.b_Received_done">تعديل</a></td> -->
                <td style="text-align: center;" *ngIf="candelete"> <a href="#" data-toggle="modal" data-target="#CancelModal" (click)="getRowID(item.n_doc_no, item.n_serial)" class="btn translatedata" data-en="Remove" [class.disabled]="item.b_Received_done">حذف</a></td>
                <td > <a href="{{ReportUrl}}PrintReport?docNo={{item.n_doc_no}}&idColName={{this.idColName}}&formID={{this.formID}}&comp={{this.comp}}&year={{this.year}}&branch={{this.branch}}&lang={{this.lang}}" data-toggle="tooltip" target="_blank"  class="btn translatedata" data-en="Print">طباعة</a></td>
              </tr>
            </tbody>

          </table>
        </div>
        </div>

      </section>
</div>
<br/><br/>

<!-- Button trigger modal -->
<div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">الغاء</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            هل انت متاكد من حذف هذه الحركة؟
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton >اغلاق</button>
            <button type="button" class="btn btn-primary" (click)="deleteRow()">حذف</button>
        </div>
    </div>
</div>
</div>
<p></p>
<!-- Modal -->
