<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <h1>الاصناف</h1>
      <button class="btn btn-danger" (click)="onCloseClick()">X</button>
    </div>
  </div>
</div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="translate" data-en="General Searching">بحث عام</label>

                <div class="input-group">
                  <input type="text" class="form-control" (keyup)="DoSearch();"  [(ngModel)]="searchString">
                </div>
                <!-- /.input group -->
              </div>
        </div>
    </div>


     <table
        class="table table-striped table-bordered dt-responsive" style="width:100%;text-align: center;" >
      <thead >
      <tr class="table-primary">
        <!-- <th  style="text-align: center;">رقم العميل</th> -->
        <th style="text-align: center;"  class="translate" data-en="Item No">رقم الصنف</th>
        <th style="text-align: center;"  class="translate" data-en="Item Name">الاسم</th>
        <th style="text-align: center;"  class="translate" data-en="Unit Code">ك الوحدة</th>
        <th style="text-align: center;"  class="translate" data-en="Unit Name">اسم الوحدة</th>
        <th style="text-align: center;"  class="translate" data-en="Price">الرصيد</th>
      </tr>
      </thead>
      <tbody>
      <tr    *ngFor="let item of List" (click)="selectItem(item)" >
        <td >{{item.s_item_id}}  </td>
        <td >{{item.s_item_name}}  </td>
        <td >{{item.n_unit_id}}  </td>
        <td >{{item.s_unit_name}}  </td>
        <td >{{item.n_selling_price}}  </td>
      </tr>
      </tbody>

    </table>

  <div class="d-flex justify-content-center pt-1">

    <pagination [boundaryLinks]="true" [totalItems]="unitsCount"  [maxSize]="5"
    [(ngModel)]="currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

  </pagination>

  </div>



