<header>
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <h2 class="translate" data-en="Sales Dashboard">إحصائيات النظام</h2>
            </div>
        </section>
    </div>
</header>
<br/><br/><br/><br/><br/><br/>
<div class="content-wrapper" style="min-height: 1233.2px;">
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-6">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block">
                            <h1 class="m-b-20" class="translate" data-en="Sales Total" style="text-align: center !important;"><b>إجمالى المستخدمين</b></h1>
                            <p><i class="fa fa-credit-card" [ngClass]="isEnglish ? 'f-right' : 'f-left'"></i><span><b>50</b></span></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-xl-6">
                    <div class="card bg-c-green order-card">
                        <div class="card-block">
                            <h1 class="m-b-20" class="translate" data-en="Sales Return Total" style="text-align: center !important;"><b>عدد المستخدمين الجدد</b></h1>
                            <p><i class="fa fa-credit-card" [ngClass]="isEnglish ? 'f-right' : 'f-left'"></i><span><b>10</b></span></p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </section>
</div>