<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <h1>الاصناف</h1>
      <button class="btn btn-danger" (click)="onCloseClick()">X</button>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="form-group">
      <label class="General Search">بحث عام</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" (keyup)="DoSearch();"  [(ngModel)]="cashId">
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" (keyup)="DoSearch();"  [(ngModel)]="cashName">
      </div>
    </div>
  </div>
</div>

   <table    datatable
      class="table table-striped table-bordered dt-responsive" style="width:100%;text-align: center;" >
    <thead >
    <tr class="table-primary">
      <th style="text-align: center;" class="translate" data-en="Type Code">رقم الخزنة</th>
      <th style="text-align: center;" class="translate" data-en="Type Name">إسم الخزنة</th>

    </tr>
    </thead>
    <tbody>
    <tr    *ngFor="let item of cashesList" (click)="selectItem(item)" >
      <td  >{{item.n_cash_id}}  </td>
      <td  >{{item.s_cash_name}}  </td>
    </tr>
    </tbody>

  </table>
