<header>
  <div class="content-wrapper"  >
    <section class="content" >
      <div class="container-fluid">
        <h2 class="translate" data-en="Payment trans">حركة المدفوعات</h2>
        <div class="buttons">
          <div class="button" *ngIf="cannew">
            <i class="bi bi-file-earmark-medical  fa-lg"></i>
            <a routerLink="/fin/paymentTransAdd" class="translatedata" data-en="New">جديد</a>
          </div>
          <!-- <div class="button">
            <i class="bi bi-bookmark-x fa-lg"></i>
            <a  (click)="PrintExcel()" id="excelBTN" value=>تصدير لإكسيل</a>
          </div> -->
        </div>
        <div>
        </div>
      </div>
    </section>
  </div>
</header>


<div class="content-wrapper" style="    margin-top: 140px;" >
      <section class="content" >
            <div class="container-fluid">
                <div class="row" *ngIf="showspinner" >
                  <hr/>
                  <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
                </div>

            <div class="custom-table-responsive">

              <table  class="custom-table-add" >
                <thead>
                  <tr>
                    <td colspan="12" width="100%" >
                      <div>
                        <div class="s-icons">
                          <i class="bi bi-pencil-fill" style="color:#343A40 ;"></i>
                          <i class="bi bi-file-earmark-excel"></i>
                          <i class="bi bi-info"></i>
                        </div>
                        <h2 class="translate" data-en="Payment trans">حركة المدفوعات</h2>
                        <div class="f-icons">
                          <i class="bi bi-layout-text-window-reverse"></i>
                          <i class="bi bi-microsoft"></i>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                      <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="DocNo"></th>
                      <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="DocDate"></th>
                      <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="empName"></th>
                      <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="salerName"></th>
                      <th ><input type="text" class="form-control" (ngModelChange)="Search();"  [(ngModel)]="description"></th>
                      <th *ngIf="canedit"></th>
                      <th *ngIf="candelete"></th>
                      <th></th>
                  </tr>

                  <tr>
                    <th style="text-align: center;text-align: center; min-width: 25px;"  class="translate" data-en="Trans No">رقم الحركة</th>
                    <th style="text-align: center;text-align: center; min-width: 50px;"  class="translate" data-en="Trans Date">تاريخ الحركة</th>
                    <th style="text-align: center;text-align: center; min-width: 50px;"  class="translate" data-en="Empolyee">الموظف</th>
                    <th style="text-align: center;text-align: center; min-width: 50px;"  class="translate" data-en="SalesMan">المندوب</th>
                    <th style="text-align: center;text-align: center; min-width: 100px;" class="translate" data-en="Description">الوصف</th>
                    <th style="text-align: center;text-align: center; min-width: 45px;" *ngIf="canedit"></th>
                    <th style="text-align: center;text-align: center; min-width: 45px;" *ngIf="candelete">
                    <th style="text-align: center;text-align: center; min-width: 45px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of paymentTransList">
                    <td style="text-align: center;min-width: 25px;" >{{item.n_doc_no}}  </td>
                    <td style="text-align: center;min-width: 50px;" >{{item.d_doc_date}}  </td>
                    <td style="text-align: center;min-width: 50px;" >{{item.s_employee_name}}  </td>
                    <td style="text-align: center;min-width: 50px;" >{{item.s_name}}  </td>
                    <td style="text-align: center;min-width: 100px" >{{item.s_description}}  </td>
                    <td style="text-align: center;min-width: 45px;" *ngIf="canedit"> <a routerLink="/fin/paymentTransEdit/{{item.n_doc_no}}" data-toggle="tooltip" data-placement="bottom" title="عرض بيانات الحركة"  class="btn translatedata" data-en="Edit">تعديل</a></td>
                    <td style="text-align: center;min-width: 45px;" *ngIf="candelete"> <a href="#" data-toggle="modal" data-target="#CancelModal" (click)="getRowId(item.n_doc_no)" class="btn translatedata" data-en="Remove">حذف</a></td>
                    <td style="text-align: center;min-width: 45px;" > <a href="{{ReportUrl}}PrintReport?docNo={{item.n_doc_no}}&idColName={{this.idColName}}&formID={{this.formID}}&comp={{this.comp}}&year={{this.year}}&branch={{this.branch}}&lang={{this.lang}}" data-toggle="tooltip" target="_blank"  class="btn translatedata" data-en="Print">طباعة</a></td>
                  </tr>
                </tbody>

              </table>
            </div>
            </div>

          </section>
</div>
<br/><br/>

  <!-- Button trigger modal -->
  <div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translate" id="exampleModalLongTitle"  data-en="Close">الغاء</h5>
                <button type="button" class="close translate" data-en="Close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body translate" data-en="Are you Sure ?">
                هل انت متاكد من حذف هذه الحركة؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary translate" data-en="Close" data-dismiss="modal" #closebutton >اغلاق</button>
                <button type="button" class="btn btn-primary translate" (click)="DeleteRow()" data-en="Remove">حذف</button>
            </div>
        </div>
    </div>
</div>
 <p></p>
<!-- Modal -->
